@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    @Ajax.ActionLink("Load Rates", "RateView", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "Rates", HttpMethod = "Get" })
</div>
<div id="Rates"></div>
