@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @Ajax.ActionLink("Load Orders", "OrderView", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "Orders", HttpMethod = "Get" })
</div>
<div id="Orders"></div>